In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("students.csv")
print(df)

      name  score
0    Alice     85
1      Bob     92
2  Charlie     78
3    Diana     95

In [7]:
# Single column
print("Single column")
print(df["name"])

# Multiple columns
print("Multiple columns")
print(df[["name", "score"]])

# One row by index
print("One row by index")
print(df.iloc[0])

# Filter rows where score > 90
print("score > 90")
print(df[df["score"] > 90])

Single column
0      Alice
1        Bob
2    Charlie
3      Diana
Name: name, dtype: object
Multiple columns
      name  score
0    Alice     85
1      Bob     92
2  Charlie     78
3    Diana     95
One row by index
name     Alice
score       85
Name: 0, dtype: object
score > 90
    name  score
1    Bob     92
3  Diana     95

In [8]:
df["passed"] = df["score"] >= 80
print(df)

      name  score  passed
0    Alice     85    True
1      Bob     92    True
2  Charlie     78   False
3    Diana     95    True