In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("students.csv")
print(df)

      name  score
0    Alice     85
1      Bob     92
2  Charlie     78
3    Diana     95

In [7]:
# Single column
print("Single column")
print(df["name"])

# Multiple columns
print("Multiple columns")
print(df[["name", "score"]])

# One row by index
print("One row by index")
print(df.iloc[0])

# Filter rows where score > 90
print("score > 90")
print(df[df["score"] > 90])

Single column
0      Alice
1        Bob
2    Charlie
3      Diana
Name: name, dtype: object
Multiple columns
      name  score
0    Alice     85
1      Bob     92
2  Charlie     78
3    Diana     95
One row by index
name     Alice
score       85
Name: 0, dtype: object
score > 90
    name  score
1    Bob     92
3  Diana     95

In [8]:
df["passed"] = df["score"] >= 80
print(df)

      name  score  passed
0    Alice     85    True
1      Bob     92    True
2  Charlie     78   False
3    Diana     95    True

In [4]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie", "Diana"],
    "score": [85, 92, 78, 95],
    "age": [20, 21, 19, 20]
})

print(df.iloc[0])            # first row
print(df.loc[0, "name"])     # single cell
print(df[df["score"] > 90])  # filter rows

print(df.groupby("age")["score"].mean())# first group them by their age and then take their mean

df2 = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie", "Diana"],
    "city": ["NY", "LA", "SF", "Chicago"]
})

merged = pd.merge(df, df2, on="name")
print(merged)

name     Alice
score       85
age         20
Name: 0, dtype: object
Alice
    name  score  age
1    Bob     92   21
3  Diana     95   20
age
19    78.0
20    90.0
21    92.0
Name: score, dtype: float64
      name  score  age     city
0    Alice     85   20       NY
1      Bob     92   21       LA
2  Charlie     78   19       SF
3    Diana     95   20  Chicago

In [8]:
import pandas as pd

df3 = pd.read_csv("students.csv")

# 1. Show all students
print(df3)

# 2. Average score
print("Average score:", df3["score"].mean())

# 3. Students older than 20
print(df3[df3["age"] > 20])

# 4. Add grade column
def assign_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    else:
        return "C"

df3["grade"] = df3["score"].apply(assign_grade)
print(df3)

# 5. Save results
df3.to_csv("students_with_grades.csv", index=False)

      name  score  age
0    Alice     85   20
1      Bob     92   21
2  Charlie     78   19
3    Diana     95   22
4     Evan     88   21
Average score: 87.6
    name  score  age
1    Bob     92   21
3  Diana     95   22
4   Evan     88   21
      name  score  age grade
0    Alice     85   20     B
1      Bob     92   21     A
2  Charlie     78   19     C
3    Diana     95   22     A
4     Evan     88   21     B

In [11]:
df1=pd.DataFrame({
    "product": ["Laptop", "Phone", "Tablet", "Monitor","Mouse"],
    "price": [100, 500, 300, 200, 50],
    "quantity": [4, 10, 6, 8,25]
})
df1.to_csv("sales.csv", index=False)
print(df1)

   product  price  quantity
0   Laptop    100         4
1    Phone    500        10
2   Tablet    300         6
3  Monitor    200         8
4    Mouse     50        25

In [16]:
df1["revenue"]=df1["price"]*df1["quantity"]
print(df1)

   product  price  quantity  revenue
0   Laptop    100         4      400
1    Phone    500        10     5000
2   Tablet    300         6     1800
3  Monitor    200         8     1600
4    Mouse     50        25     1250

In [19]:
print(df1[df1["price"]>300])

  product  price  quantity  revenue
1   Phone    500        10     5000

In [25]:
df_sort=df1.sort_values(by="quantity", ascending=False)
print(df_sort)

   product  price  quantity  revenue
4    Mouse     50        25     1250
1    Phone    500        10     5000
3  Monitor    200         8     1600
2   Tablet    300         6     1800
0   Laptop    100         4      400

In [26]:
df_sort.to_csv("Sales_updated.csv", index=False)